export("createMonomialVector",
       "createMomentMatrixSparse",
       "optpoly",
       "optmanypoly",
       "extractSolution",
       "optquad")
importFrom(Rcpp, evalCpp)
useDynLib(optpoly, .registration = TRUE)
