export("createMonomialVector",
       "createMomentMatrixSparse",
       "optpoly",
       "extractSolution",
       "optquad",
       "solvepoly")
importFrom(Rcpp, evalCpp)
useDynLib(optpoly, .registration = TRUE)
